.weather-day-forecast--wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

/*
 sizes in EM so that the parent can control how it should look
 for instance, if it is just 1 day, it could be bigger
 or in case of multiple days, smaller, etc...
 */
.weather-day-forecast--image {
  height: 2.5em;
}

.weather-day-forecast--temperature--wrapper {
  display: flex;
  justify-content: space-between;
}

.weather-day-forecast--temperature {
  font-size: 1em;
}

.weather-day-forecast--temperature sup {
  font-size: 0.6em;
}

.weather-day-forecast--temperature + .weather-day-forecast--temperature {
  margin-left: 0.25em;
}

.weather-day-forecast--temperature.temperature-low { color: #00f; }
.weather-day-forecast--temperature.temperature-high { color: #f00; }
